<!DOCTYPE HTML>
<html>
<head>
    <title>Data Visualization</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/style.css">
    <noscript>
        <link rel="stylesheet" href="static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="/file_upload">Click Here to Upload the file</a></li>
                <li><a href="/data_viz">Click Here for data visualization</a></li>
            </ul>
        </nav>
    </div>
</section>


<div id="wrapper">


    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <center><img src="static/1.png"><br></center>
            <center>Total number of each type of stores<br><br><br></center>
            <center><img src="static/2.png"><br></center>
            <center>Sizes of each type of store<br><br><br></center>
            <center><img src="static/3.png"><br></center>
            <center>Departments across every store<br><br><br></center>
            <center><img src="static/4.png"><br></center>
            <center>Weekly Sales for stores of every size<br><br><br></center>
            <center><img src="static/5.png"><br></center>
            <center>Weekly Sales for stores of each type<br><br><br></center>
            <center><img src="static/6.png"><br></center>
            <center>Weekly Sales on Holiday and Non Holiday weeks<br><br><br></center>
            <center><img src="static/7.png"><br></center>
            <center>Weekly Sales across every department<br><br><br></center>
            <center><img src="static/8.png"><br></center>
            <center>Weekly Sales across fuel price<br><br><br></center>
            <center><img src="static/9.png"><br></center>
            <center>Weekly Sales across average temperature of the week<br><br><br></center>
            <center><img src="static/10.png"><br></center>
            <center>Weekly Sales across Consumer Price Index<br><br><br></center>
            <center><img src="static/11.png"><br></center>
            <center>Weekly Sales across Unemployment Rates<br><br><br></center>
            <center><img src="static/12.png"><br></center>
            <center>Actual Sales vs Predicted Sales<br><br><br></center>

            <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>


            <script src="static/js/index.js"></script>

        </div>
    </section>


    <script src="static/js/lib/jquery.min.js"></script>
    <script src="static/js/lib/jquery.scrollex.min.js"></script>
    <script src="static/js/lib/jquery.scrolly.min.js"></script>
    <script src="static/js/lib/browser.min.js"></script>
    <script src="static/js/lib/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>