<!DOCTYPE HTML>
<html>
<head>
    <title>Walmart Sales Prediction - Home</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/style.css">
    <noscript>
        <link rel="stylesheet" href="static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="/file_upload">Click Here to Upload the file</a></li>
                <li><a href="/data_viz">Click Here for data visualization</a></li>
            </ul>
        </nav>
    </div>
</section>


<div id="wrapper">


    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <img src="static/d.png" alt="Italian Trulli">
            <br><h1><center><font color="#ffbb33 ">Sales Prediction</font></center></h1><br>
            <h2><center>Choose an option from the left</h2></center>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>


            <script src="static/js/index.js"></script>

        </div>
    </section>

    <script src="static/js/lib/jquery.min.js"></script>
    <script src="static/js/lib/jquery.scrollex.min.js"></script>
    <script src="static/js/lib/jquery.scrolly.min.js"></script>
    <script src="static/js/lib/browser.min.js"></script>
    <script src="static/js/lib/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>